---
---

// start content

.fixed-top {
    height: 71px;
}
.mediumnavigation{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    .navbar-brand{
        padding: 8px 0;
        margin-left: -5px;
        img {
            max-height: 40px;
            margin-right: 0px;
        }
    }
    .nav-item, .dropdown-menu {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        .navbar-light .navbar-nav .nav-link {
            color: #121212;
        }
    }
}
.alertbar-logo{
    max-height: 30px;
    margin-top: -5px;
}
figure {
    display: inline-block;
    text-align: center;
    border: 1px dotted gray;
    margin: 5px; /* adjust as needed */
    img {
        vertical-align: top;
      }
    figcaption {
        border: 1px dotted blue;
      }
  }
  