---
---

// start content
body {
    font-family: 'Montserrat', sans-serif;
  }
.mainheading h1.sitetitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: #121212;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}
.fixed-top {
    height: 71px;
}
.mediumnavigation{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    .navbar-brand{
        padding: 8px 0;
        margin-left: -5px;
        img {
            max-height: 40px;
            margin-right: 0px;
        }
    }
}
.alertbar-logo{
    max-height: 30px;
    margin-top: -5px;
}
figure {
    display: inline-block;
    text-align: center;
    border: 1px dotted gray;
    margin: 5px; /* adjust as needed */
    img {
        vertical-align: top;
      }
    figcaption {
        border: 1px dotted blue;
      }
  }
  